/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* font-family: "Raleway", sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.item-search {
  background-color: rgb(240, 240, 240);
  border: 0;
  border-radius: 6px;
  height: 35px;
}

.item-search::placeholder {
  opacity: 0.4;
}

.login:hover {
  background-color: rgb(55, 55, 255);
  color: white;
  border-radius: 10px;
}

/* ========slider========= */
.banner {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.row {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.col {
  width: 8%;
  text-align: center;
}

.col img {
  width: 100%;
}

.col p {
  font-weight: 600;
}

/* =====product section========   */

.heading {
  font-weight: 600;
  font-size: x-large;
  margin-top: 15px;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product img {
  transition: transform 0.3s ease-in-out;
}
.product img:hover {
  transform: scale(1.1);
}
.c {
  width: 14%;
  text-align: center;
  margin-bottom: 15px;
}

.pro-text {
  margin-bottom: 0;
}

.pro-title {
  font-weight: 600;
}

/* ======bottom section====== */

.bottom-text-heading {
  font-weight: 600;
  font-size: 20px;
  opacity: 0.8;
}

.bottom-text-para {
  opacity: 0.6;
  font-size: 12px;
  font-weight: 600;
}

.bottom-text-para span {
  color: black;
  font-size: 14px;
  opacity: 1;
}

/* ======footer section==== */

footer {
  background-color: rgb(32, 32, 32);
  font-size: smaller;
}

.footer p {
  clear: both;
  color: rgb(123, 123, 123);
}

.f ul {
  color: white;
  margin: 0;
  padding: 0;
}

.footer {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.f1,
.f2,
.f3,
.f4 {
  width: 13%;
  margin-right: 10px;
}

.f4 {
  border-right: 1px solid rgba(255, 255, 255, 0.311);
}

.f6,
.f5 {
  width: 25%;
}

.f6 span {
  color: rgb(74, 74, 255);
}

.footer-bottom {
  display: flex;
  background-color: rgb(32, 32, 32);
}

.footer-bottom-left {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-around;
}

.footer-bottom-right {
  width: 20%;
  margin-left: 10%;
  display: flex;
  justify-content: space-evenly;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.b {
  display: flex;
  align-items: center;
}

.b i {
  margin-right: 8px;
}

.b-para {
  margin: 0;
}

.b-para {
  color: white;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.b:hover .b-para {
  color: #ffd43b;
  transform: scale(1.05);
}

.b i:hover {
  animation: shake 0.5s ease-in-out;
  animation-fill-mode: forwards; /* Keeps the final state of animation */
  transform-origin: center;
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 1200px) {
  .col {
    width: 20%;
  }
  .c {
    width: 22%;
  }
}
@media (max-width: 990px) {
  .col {
    width: 73%;
  }
  .c {
    width: 45%;
  }
  .footer-bottom-left,
  .footer-bottom-right {
    flex-direction: column;
    align-items: center;
  }

  .footer-bottom-left {
    margin-bottom: 15px;
  }
  .f4 {
    border: none;
  }
}

@media (max-width: 576px) {
  .col {
    width: 50%;
  }
  .c {
    width: 100%;
  }

  .footer-bottom-left,
  .footer-bottom-right {
    width: 100%;
  }

  .footer-bottom-right {
    margin-left: 0;
  }
  .f4 {
    border: none;
  }
}
